* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--color-uno: #0181d3;
	--color-dos: #4ca2db;
	--color-tres: #66ace2;
	--color-cuatro: #e1e7f5;
	--color-texto: #08104d;
}

html {
	font-size: 100%;
}

.container-login {
	width: 500px;
	height: auto;
	background-color: white;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-login {
	margin: 2.5% 0;
	width: 95%;
	height: auto;
	border-radius: 5px;
	background-color: #23376f;
}

.header-login > h4 {
	font-size: 1.6rem;
	font-weight: 600;
	color: white;
	text-align: center;
	padding: 10px 0;
}

.container-login > label {
	width: 70%;
	height: auto;
	display: flex;
	justify-content: flex-end;
	color: var(--color-texto);
	font-size: 1.2rem;
	font-weight: 300;
	margin: 0 auto;
}

.container-login > .margen {
	margin: 10px 0;
}

.container-login > label > input {
	border-radius: 5px;
	color: var(--color-texto);
	border: 0;
	border: 1px solid var(--color-dos);
	margin-left: 10px;
}

.container-button {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.container-button > input {
	width: 40%;
	height: auto;
	color: white;
	font-size: 1.2rem;
	padding: 5px 0;
	margin-bottom: 10px;
	border-radius: 5px;
	border: solid 1px white;
	background-color: #23376f;
}

.container-button > input:hover {
	background: rgba(1, 130, 211, 0);
	background: -moz-linear-gradient(
		top,
		rgba(1, 130, 211, 0) 0%,
		rgba(113, 206, 239, 0) 0%,
		rgba(113, 206, 239, 0) 100%
	);
	background: -webkit-gradient(
		left top,
		left bottom,
		color-stop(0%, rgba(1, 130, 211, 0)),
		color-stop(0%, rgba(113, 206, 239, 0)),
		color-stop(100%, rgba(113, 206, 239, 0))
	);
	background: -webkit-linear-gradient(
		top,
		rgba(1, 130, 211, 0) 0%,
		rgba(113, 206, 239, 0) 0%,
		rgba(113, 206, 239, 0) 100%
	);
	background: -o-linear-gradient(
		top,
		rgba(1, 130, 211, 0) 0%,
		rgba(113, 206, 239, 0) 0%,
		rgba(113, 206, 239, 0) 100%
	);
	background: -ms-linear-gradient(
		top,
		rgba(1, 130, 211, 0) 0%,
		rgba(113, 206, 239, 0) 0%,
		rgba(113, 206, 239, 0) 100%
	);
	background: linear-gradient(
		to bottom,
		rgba(1, 130, 211, 0) 0%,
		rgba(113, 206, 239, 0) 0%,
		rgba(113, 206, 239, 0) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0182d3', endColorstr='#71ceef', GradientType=0 );
	color: var(--color-uno);
	border: solid 1px var(--color-uno);
}

body#index {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

body > .navbar-actdig {
	background-color: var(--color-uno);
}

body > div > div.container-title > nav {
	color: white !important;
}

#navbarSupportedContent > div {
	width: 150px;
}
.container-usuario {
	width: 60%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
}

.container-usuario > label {
	font-size: 1rem;
	color: white;
}

.br {
	border-radius: 5px;
}

.th-text-align-right {
	text-align: right;
}

.text-color-white {
	color: white;
}

.img-nav {
	width: 90px;
	align-self: center;
}

.bg-branding {
	background: #23376f;
}

.mt-20 {
	margin-top: 20px;
}

.mt-18vw {
	margin-top: 18vw;
}

.min-btn-action {
	min-width: 45px;
}

.width-card {
	width: 18rem;
}

.pc-flex-end {
	place-content: flex-start;
}

@media (min-width: 765px) {
	.pc-flex-end {
		place-content: flex-end;
	}
}

.img-card {
	width: 70px;
	align-self: center;
}

.bg-branding > .container > .row {
	justify-content: center !important;
}

.text-mayus {
	text-transform: uppercase;
}

.btn-center-objet {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.margin-b-30 {
	margin-bottom: 30px;
}

.padding-ru {
	padding: 12px 0 !important;
}

.body-backup {
	width: 100vw;
	height: 100vh;
	background-color: #23376f;
	display: flex;
	align-items: center;
	justify-content: center;
}

.body-backup > table > tbody > tr > td {
	padding: 10px;
	font-size: 1.8rem;
	color: white;
}

.body-backup > table > tbody > tr > td > a > span {
	color: blue;
	font-size: 18px;
}

.btn-success-rc {
	border-width: 2px;
	color: white;
}

.btn-success-rc:hover {
	background-color: #fff;
	color: #23376f;
	border-color: #ffdb00;
	border-width: 2px;
}

.session-info {
	display: flex;
	align-items: flex-start;
	padding: 5px;
	background-color: white;
	display: flex;
	flex-direction: column;
	color: #23376f;
	border-radius: 5px;
	margin-right: 10px;
}

@media (min-width: 1000px) {
	.session-info {
		align-items: center;
	}
}